<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <h4 style="color: #108fd2;"> EPTA UAE Technical Services L.L.C </h4>


  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav style=" font-size: 18px !important;" class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="nav-item " routerLinkActive="open" appNavDropdown>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/adduser/addrole']">
            <i class="fa fa-upload"></i>Add User </a>

        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/equipment']">
            <i class="icon-puzzle"></i>Add Equipment </a>

        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/section']">
            <i class="icon-puzzle"></i>Add Section </a>

        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/section']">
            <i class="icon-puzzle"></i>Add Complaint </a>

        </li>

        <!-- <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/hospital/addorview']">

            <i class="fa fa-flash" aria-hidden="true"></i>Hospital</a>
  
        </li> -->



        <!-- <li class="nav-item " routerLinkActive="open" appNavDropdown>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/service/notification']">
            <i class="fa fa-upload" aria-hidden="true"></i>Notification</a>
     
        </li> -->
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
            <i class="fa fa-wrench" aria-hidden="true"></i> Setting </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item" (click)="logout()">
              <a class="nav-link" routerLinkActive="active">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </li>


          </ul>
        </li>


      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="http://pintaka.com">© 2018 pintaka. All rights reserved. Made by pintaka.com

  </a>
</footer>