<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Engineer form</h4>
      </div>
      <div class="card-body">
        <div class="custom-tab">
  
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
               aria-selected="true">Add</a>
              <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
               aria-selected="false">view</a>
      
            </div>
          </nav>
          <div class="tab-content pl-3 pt-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                <div class="section__content section__content--p30">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header"></div>
                                    <div class="card-body">
                                      
                                        <hr>
                                        <form #addEngineer="ngForm" (ngSubmit)="SubmitEngineer(addEngineer.value);addEngineer.reset()">
                                                            
                                        <div class="row">
                                            <div class="col-6">
                                              <div class="form-group">
                                          
                                                  <label for="cc-exp" class="control-label mb-1">Name</label>
                                                  <input id="cc-exp" name="firstname" type="text" class="form-control cc-exp" #firstname="ngModel" required ngModel>
                                                  
                                              </div>
  
                                              <div class="error" *ngIf="firstname?.errors && (firstname?.touched || firstname?.dirty)">
                                                  <span class="error" [hidden]="!firstname.errors.required"> Please enter valid Username. </span>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-6">
                                              <div class="form-group">
                                          
                                                  <label for="cc-exp" class="control-label mb-1">last name</label>
                                                  <input id="cc-exp" name="lastname" type="text" class="form-control cc-exp" #lastname="ngModel" required ngModel>
                                                  
                                              </div>
  
                                              <div class="error" *ngIf="lastname?.errors && (lastname?.touched || lastname?.dirty)">
                                                  <span class="error" [hidden]="!lastname.errors.required"> Please enter last name </span>
                                                  
                                                </div>
                                            </div>
                                     
                                        </div>
                                         
                                                   
                                                      <div class="form-group">
                                          
                                                              <label for="cc-exp" class="control-label mb-1">Phone Number</label>
                                                              <input id="cc-exp" name="phone" type="text" class="form-control cc-exp" #phone="ngModel" required ngModel>
                                                              
                                                          </div>
                                                   
                      
                                        <div class="row">
                                            <div class="col-6">
                                              <div class="form-group">
                                          
                                                  <label for="cc-exp" class="control-label mb-1">Email</label>
                                                  <input id="cc-exp" name="email" type="text" class="form-control cc-exp" #email="ngModel" required ngModel>
                                                  
                                              </div>
  
                                              <div class="error" *ngIf="email?.errors && (email?.touched || email?.dirty)">
                                                  <span class="error" [hidden]="!email.errors.required"> Please enter email. </span>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-6">
                                              <div class="form-group">
                                          
                                                  <label for="cc-exp" class="control-label mb-1">Password</label>
                                                  <input id="cc-exp" name="password" type="text" class="form-control cc-exp" #password="ngModel" required ngModel>
                                                  
                                              </div>
  
                                              <div class="error" *ngIf="password?.errors && (password?.touched || password?.dirty)">
                                                  <span class="error" [hidden]="!password.errors.required"> Please enter valid Pasword. </span>
                                                  
                                                </div>
                                            </div>
                                     
                                        </div>
                                        <div>
                                              <button  [disabled]="!addEngineer.form.valid" id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                            <!-- <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block"> -->
                                                <i class="fa fa-check fa-lg"></i>&nbsp;
                                                <span id="payment-button-amount">Add</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
              
              
              
              
                        </div>
                 
                    
                </div>
            
            </div>
            <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
              <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Username</th>
                                    <th>Phone</th>
                                    <th>Delete</th>
  
                                </tr>
                            </thead>
                            <tbody *ngIf="EngineersArry">
                       
                          
                     
                                <tr *ngFor="let item of EngineersArry; let i = index;">
                                    <td>{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
                                    <td class="process">{{item.firstname}}</td>
                                    <td>{{item.role}}</td>
                                    <td class="denied">{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>                                
                                      <button type="button" class="btn btn-danger">Delete</button>
                                    </td>
  
                                 
  
  
                                </tr>
                           
                           
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
            </div>
         
          </div>
  
        </div>
      </div>
    </div>
  </div>
  