<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Hospital form</h4>
      </div>
      <div class="card-body">
        <div class="custom-tab">
  
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
               aria-selected="true">Add</a>
              <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
               aria-selected="false">view</a>
      
            </div>
          </nav>
          <div class="tab-content pl-3 pt-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                <div class="section__content section__content--p30">
        
                 
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                          
                            <hr>
                            <!-- <form action="" method="post" novalidate="novalidate"> -->
                            <form #addHospital="ngForm" (ngSubmit)="SubmitHospital(addHospital.value);addHospital.reset()">
                                
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Customer Name</label>
                                    <input id="cc-pament" name="customerName" type="text" class="form-control" #HospitalName="ngModel"required ngModel>
                                </div>

                                <div class="error" *ngIf="HospitalName?.errors && (HospitalName?.touched || HospitalName?.dirty)">
                                        <span class="error" [hidden]="!HospitalName.errors.required">  Enter Hospital name. </span>
                                        
                                      </div>
                               
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label mb-1">Contact Person</label>
                                            <input id="cc-exp" name="contactPerson" type="text" class="form-control cc-exp" #ContactPerson="ngModel" required ngModel>
                                            <!-- <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span> -->
                                        </div>
                                        <div class="error" *ngIf="ContactPerson?.errors && (ContactPerson?.touched || ContactPerson?.dirty)">
                                                <span class="error" [hidden]="!ContactPerson.errors.required"> Enter Person name. </span>
                                                <!-- <span class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </span> -->
                                              </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="x_card_code" class="control-label mb-1">email</label>
                                        <div class="input-group">
                                            <input id="x_card_code" name="email" type="tel" class="form-control cc-cvc"  data-val="true"
                                                 #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel>
  
                                        </div>
                                        <div class="error" *ngIf="email?.errors && (email?.touched || email?.dirty)">
                                                <span class="error" [hidden]="!email.errors.pattern">  Enter valid email. </span>
                                              </div>
                                    </div>
                             
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            
                                            <label for="cc-exp" class="control-label mb-1">Phone Number</label>
                                            <input id="cc-exp" name="phone" type="text" class="form-control cc-exp" #Phone="ngModel" required ngModel>
                                            
                                        </div>
                                        <div class="error" *ngIf="Phone?.errors && (Phone?.touched || Phone?.dirty)">
                                                <span class="error" [hidden]="!Phone.errors.required"> Enter Phone Number. </span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                          
                                        <label for="cc-exp" class="control-label mb-1">Location</label>
                                        <input id="cc-exp" name="location" type="text" class="form-control cc-exp" #Location="ngModel" required ngModel>
                                        <div class="error" *ngIf="Location?.errors && (Location?.touched || Location?.dirty)">
                                            <span class="error" [hidden]="!Location.errors.required"> Enter Location. </span>
                                    </div>
                                    </div>
                                    
                             
                                </div>
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Note</label>
                                    <input id="cc-exp" name="notes" type="text" class="form-control cc-exp" #notes="ngModel"  ngModel>
                                </div>
                                <div>
                                    <button  [disabled]="!addHospital.form.valid" id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa  fa-check fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Add</span>
                                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
  
  
  
  
  
            </div>
                    
                </div>
            
            </div>
            <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
              <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>customerName</th>
                                    <th>Location</th>
                                    <th>contactPerson</th>
                                    <th>email</th>
                                    <th>phone</th>

                                    <th>Delete</th>
  
                                </tr>
                            </thead>
                            <tbody *ngIf="GETHosData">
                       
                          
                     
                                <tr *ngFor="let item of GETHosData; let i = index;">
                                    <td>{{item.modifiedDate | date: 'dd/MM/yyyy'}}</td>
                                    <td class="denied">{{item.customerName}}</td>
                                    <td>{{item.location}}</td>
                                    <td >{{item.contactPerson}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>

                                    <td>                                
                                      <button type="button" class="btn btn-danger">Delete</button>
                                    </td>
  
                                 
  
  
                                </tr>
                           
                           
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
            </div>
         
          </div>
  
        </div>
      </div>
    </div>
  </div>
  