<div class="col-sm-12 col-md-12 no-mg">
    <form #signupForm="ngForm" (ngSubmit)="SubmitSignup(signupForm.value)">
        <div class="form-group">
            <input type="text" class="form-control" #firstName="ngModel" pattern="[a-zA-Z][a-zA-Z ]{1,}" name="name" placeholder="Agent name"
             required ngModel>
            <div class="error" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
                <span class="error" [hidden]="!firstName.errors.pattern"> Please enter valid name. </span>
            </div>
        </div>
        <div class="form-group">
            <input type="email" minlength="16" #email="ngModel" class="form-control" pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
             name="email" placeholder="Agent Email" required ngModel>
            <div class="error" *ngIf="email.errors && (email.touched)">
                <span class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </span>
                <span class="error" [hidden]="!email.errors.minlength"> Please enter valid email. </span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" #password="ngModel" class="form-control" name="password" placeholder="Agent password" required ngModel>
         
        </div>
        <!-- <p class="error"> {{ErrorMsg}} </p> -->
        <button type="submit" id="signupButton" class="btn btn-block btn-success signUpModalBtn signmodal" [disabled]="!signupForm.form.valid ">
       Access
        </button>
    </form>
</div><br><br>
<div class="container" *ngIf="workersDetails">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>username</th>
            <th>firstName</th>

            <th>password</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of workersDetails; let i=index;">
          <tr class="td">
            <td width="30%">{{item.username}}</td>
            <td width="30%">{{item.profile.firstName}}</td>

            <td width="30%">{{item.asignedPassword}}</td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div> 