<div class="vid-container"   >
  
  
    <div class="inner-container">
     
      <div class="box">
        <h1><b>Admin login</b></h1>
        <form #loginForm="ngForm" (ngSubmit)="Submitlogin(loginForm.value)">
          <input type="email" class="form-control" #email="ngModel" id="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="Email" required
          ngModel>
          <div class="error" *ngIf="email?.errors && (email?.touched || email?.dirty)">
            <span class="error" [hidden]="!email.errors.required"> Please enter your name. </span>
            <span class="error" [hidden]="!email.errors.pattern"> Please enter valid email. </span>
          </div>
          <input type="password" class="form-control" #password="ngModel" id="password" name="password"
          placeholder="Password" required ngModel>
          <div class="error" *ngIf="password.errors && (password.touched || password.dirty)">
            <span class="error" [hidden]="!password.errors.required"> Please enter your password. </span>
          </div>
          <button class="btn btn-block btn-success"  type="submit"> Sign In
          </button>
        <!-- <button [routerLink]="['/dashboard']">Login</button> -->
        </form>
        <!-- <p>Not a member? <span>Sign Up</span></p> -->
      </div>
    </div>
    <h2 class="mycompany">Powerd by pintaka 2018</h2>
  </div>
  