.error{
    color:red
}
.table {
    width:100%;
    border: 1px solid black;
    table-layout:fixed;
    }
    
    
    .td {
        border: 1px solid black;
       word-wrap:break-word;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    .container{
        width:1060px;
    }
    .table,td,th,tr{
        border-collapse: collapse;
        border: 1px solid black;
        padding-right: 30px;
    }