<div class="bootstrap-iso">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
      
              <form class="form-horizontal" #sectionForm="ngForm" (ngSubmit)="faqSubmit(sectionForm.value)">
                <div class="form-group ">
                  <label class="control-label col-sm-2" for="name">
                    Section 
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" #section="ngModel" id="section" name="section" required ngModel>
                  </div>
                </div>
                <div class="error" *ngIf="section.errors && (section.touched || section.dirty)">Please Enter section name here</div>
      
                <div class="form-group">
                  <div>
                    <button class="btn btn-primaryy " style="margin-left: 580px;" name="submit" type="submit" [disabled]="!sectionForm.form.valid">
                      Add
                    </button>
      
                  </div>
                </div>
      
              </form>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="container" *ngIf="sections">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Section</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of sections; let i=index;">
              <tr class="td">
                <td width="30%">{{item.sectionName}}</td>
                <td width="5%"><button (click)="faqDelete(item._id)">delete</button> </td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div> 
      
      
      