<section class="statistic statistic2">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-3"   [routerLink]="['/equipment']">
              <div class="statistic__item statistic__item--green pointerss">
                  <h2 class="number">{{GETEquipmentsData}}</h2>
                  <span class="desc">Equipments</span>
                  <div class="icon">
                      <i class="zmdi zmdi-account-o"></i>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-6 col-lg-3">
              <div class="statistic__item statistic__item--orange pointerss" [routerLink]="['/hospital/addorview']">
                  <h2 class="number">{{GETHosData}}</h2>
                  <span class="desc">Hospitals</span>
                  <div class="icon">
                      <i class="zmdi zmdi-shopping-cart"></i>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
              <div class="statistic__item statistic__item--blue pointerss" [routerLink]="['/service/engineer']">
                  <h2 class="number">{{EngineersArry}}</h2>
                  <span class="desc">Service engineers</span>
                  <div class="icon">
                      <i class="zmdi zmdi-calendar-note"></i>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-3">
              <div class="statistic__item statistic__item--red pointerss">
                  <h2 class="number">10</h2>
                  <span class="desc">Notification</span>
                  <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section>